<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.G23.ParkIt.mapper.ReviewMapper">

    <resultMap id="reviewResultMap" type="com.G23.ParkIt.entity.Review">
        <id column="review_id" property="reviewId"/>
        <result column="user_id" property="userId"/>
        <result column="rating" property="rating"/>
        <result column="comments" property="comments"/>
        <result column="listing_id" property="listingId"/>
    </resultMap>

    <select id="getReviewById" resultMap="reviewResultMap">
        SELECT * FROM reviews WHERE review_id = #{reviewId}
    </select>

    <select id="getAllReviews" resultMap="reviewResultMap">
        SELECT * FROM reviews
    </select>

    <insert id="insertReview" useGeneratedKeys="true" keyProperty="reviewId" keyColumn="review_id">
        INSERT INTO reviews(user_id, rating, comments, listing_id)
        VALUES(#{userId}, #{rating}, #{comments}, #{listingId})
    </insert>

    <update id="updateReview">
        UPDATE reviews SET user_id=#{userId}, rating=#{rating}, comments=#{comments}, listing_id=#{listingId} WHERE review_id=#{reviewId}
    </update>

    <delete id="deleteReview">
        DELETE FROM reviews WHERE review_id=#{reviewId}
    </delete>
</mapper>
